<h2 mat-dialog-title>Attribution & Reference</h2>

<mat-dialog-content class="mat-typography">
    <p>
        Icons made by
        <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry" target="_blank">
            Kiranshastry
        </a>
        from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
    </p>
    <p>
        <a href="https://angular.io/guide/service-worker-getting-started" target="_blank">
            Getting started with service workers
        </a>
    </p>
    <p>
        <a href="https://web.dev/progressive-web-apps" target="_blank">Progressive Web Apps</a>
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>